<div class="modal-mobile-menu data-modal" id="mobile-menu">
  <button type="button" class="close-button-mobile data-modal-close">
    <svg class="mobile-icon-close">
      <use href="./icon.svg#icon-x"></use>
    </svg>
  </button>

  <ul class="modal-mobile-list">
    <li>
      <a class="mobile-menu-link mobile-menu-text link" href="./index.html"
        >Home</a
      >
    </li>
    <li>
      <a class="mobile-menu-link mobile-menu-text link" href=""
        >How it’s made?</a
      >
    </li>
    <li>
      <a class="mobile-menu-link mobile-menu-text link" href="">Our products</a>
    </li>
    <li>
      <a class="mobile-menu-link mobile-menu-text link" href="">Top sellers</a>
    </li>
    <li>
      <a class="mobile-menu-link mobile-menu-text link" href=""
        >Chocolate is loved</a
      >
    </li>
  </ul>
  <ul class="mobile-menu-icon-list">
    <li>
      <a class="mobile-menu-icon-messeg" href="https://Instagram.com">
        <svg class="mobile-menu-icon-svg">
          <use href="./icon.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="mobile-menu-icon-messeg" href="https://Youtube.com">
        <svg class="mobile-menu-icon-svg">
          <use href="./icon.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
