<div>
    <button type="button">
    </button>
    <h2><span>Buy</span> Now</h2>
    <ul>
        <li>
            <div>
                <div>
                    <picture>
                        <img src="" alt="">
                    </picture>
                </div>
                <button type="button">100 g</button>
            </div>
        </li>
        <li>
            <div>
                <div>
                    <picture>
                        <img src="" alt="">
                    </picture>
                </div>
                <button type="button">200 g</button>
            </div>
        </li>
        <li>
            <div>
                <div>
                    <picture>
                        <img src="" alt="">
                    </picture>
                </div>
                <button type="button">300 g</button>
            </div>
        </li>
    </ul>

    <div></div>
    <form>
        <label>
            <span>Personal information</span>
            <div>
                <input type="text" name="username" required="" placeholder="Name" minlength="2">
                <input type="text" name="user_surname" required="" placeholder="Surname" minlength="2">
            </div>
        </label>
        <label>
            <span>Email</span>
            <input type="email" name="user_email" required="" placeholder="Enter your email" title="mail@mail.com">
        </label>
        <label>
            <span>Phone number</span>
            <div>
                <input type="tel" name="user-phone" required="" title="xx-xxx-xx-xx" placeholder="Phone number">

                <svg>
                    <use href=""></use>
                </svg>
                <span>+380</span>
            </div>
        </label>
        <label>
            <span>Card number</span>
            <span>
                <div>
                    <input type="number" name="user-card" required="" title="xxxx xxxx xxxx xxxx"
                        placeholder="Enter card">
                    <svg>
                        <use href=""></use>
                    </svg>
                </div>
            </span>
        </label>
        <label>
            <span>Comment</span>
            <textarea name="user_message" placeholder="Enter text"></textarea>
        </label>
        <button type="submit">
            Submit
        </button>
    </form>
</div>