<section class="components-section">
  <div class="container">
    <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION</h2>
    <p>
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="components-list list">
      <li class="components-item">
        <img src="" alt="chocolate" width="224" />
        <h2>milk chocolate</h2>

        <!-- overlay -->
        <div class="overlay-thumba">
          <h3>milk chokolate</h3>
          <ul>
            <li>chocolate</li>
            <li>the benefits</li>
          </ul>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img src="" alt="" />
        <h3>Milk</h3>
        <div class="overlay-thumba">
          <h2>Milk</h2>
          <ul>
            <li>milk</li>
            <li>the benefits</li>
          </ul>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img src="" alt="" />

        <h2>nuts</h2>
        <!-- overlay -->
        <div class="overlay-thumba">
          <h3>nuts</h3>
          <ul>
            <li>nuts</li>
            <li>the benefits</li>
          </ul>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img src="" alt="" />
        <h3>SEMI - SWEET CHOCOLATE</h3>

        <!-- overlay -->
        <div class="overlay-thumba">
          <h2>semi - sweet chocolate</h2>
          <ul>
            <li>sweet chocolate</li>
            <li>the benefits</li>
          </ul>
          <p>
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
