<section class="section components-section">
  <div class="container">
    <h2 class="section-title components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="title-accent">TASTE</span> SENSATION
    </h2>
    <p class="section-text components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="components-list list">
      <li class="components-item">
        <img
          class="components-img"
          srcset="
            ../img/unique_components/chocolate-mobile-tablet@1x.png 224w,
            ../img/unique_components/chocolate-mobile-tablet@2x.png 448w,
            ../img/unique_components/chocolate@1x.png               206w,
            ../components-img/unique_components/chocolate@2x.png    412w
          "
          sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, (min-width: 320px) 224px, 100vw"
          src="../img/unique_components/chocolate-mobile-tablet@1x.png"
          alt="chocolate"
        />
        <h3 class="components-subtitle">milk chocolate</h3>

        <!-- overlay -->
        <div class="overlay-thumba">
          <h3 class="section-subtitle overlay-subtitle">milk chocolate</h3>
          <ul class="overlay-list">
            <li class="overlay-btn overlay-components">chocolate</li>
            <li class="overlay-btn overlay-components list">the benefits</li>
          </ul>
          <p class="section-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img
          class="components-img"
          srcset="
            ../img/unique_components/milk-mobile-tablet@1x.png 224w,
            ../img/unique_components/milk-mobile-tablet@2x.png 448w,
            ../img/unique_components/milk@1x.png               206w,
            ../components-img/unique_components/milk@2x.png    412w
          "
          sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, (min-width: 320px) 224px, 100vw"
          src="../img/unique_components/milk-mobile-tablet@1x.png"
          alt=""
        />
        <h3 class="components-subtitle">Milk</h3>
        <!-- overlay -->
        <div class="overlay-thumba">
          <h3 class="section-subtitle overlay-subtitle">Milk</h3>
          <ul class="overlay-list">
            <li class="overlay-btn overlay-components">milk</li>
            <li class="overlay-btn overlay-components list">the benefits</li>
          </ul>
          <p class="section-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img
          class="components-img"
          srcset="
            ../img/unique_components/nuts-mobile-tablet@1x.png 224w,
            ../img/unique_components/nuts-mobile-tablet@2x.png 448w,
            ../img/unique_components/nuts@1x.png               206w,
            ../components-img/unique_components/nuts@2x.png    412w
          "
          sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, (min-width: 320px) 224px, 100vw"
          src="../img/unique_components/nuts-mobile-tablet@1x.png"
          alt=""
        />

        <h3 class="components-subtitle">nuts</h3>
        <!-- overlay -->
        <div class="overlay-thumba">
          <h3 class="section-subtitle overlay-subtitle">nuts</h3>
          <ul class="overlay-list">
            <li class="overlay-btn overlay-components">nuts</li>
            <li class="overlay-btn overlay-components list">the benefits</li>
          </ul>
          <p class="section-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
      <li class="components-item">
        <img
          class="components-img"
          srcset="
            ../img/unique_components/coffee-mobile-tablet@1x.png 224w,
            ../img/unique_components/coffee-mobile-tablet@2x.png 448w,
            ../img/unique_components/coffe@1x.png                206w,
            ../components-img/unique_components/coffee@2x.png    412w
          "
          sizes="(min-width: 1200px) 206px, (min-width: 768px) 224px, (min-width: 320px) 224px, 100vw"
          src="../img/unique_components/coffee-mobile-tablet@1x.png"
          alt=""
        />
        <h3 class="components-subtitle">SEMI - SWEET CHOCOLATE</h3>

        <!-- overlay -->
        <div class="overlay-thumba">
          <h3 class="section-subtitle overlay-subtitle">
            semi - sweet chocolate
          </h3>
          <ul class="overlay-list">
            <li class="overlay-btn overlay-components">sweet chocolate</li>
            <li class="overlay-btn overlay-components list">the benefits</li>
          </ul>
          <p class="section-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
