<div class="explore-backdrop is-hidden" data-modal-explore>
  <div class="explore-modal">
    <button class="explore-close-btn" type="button" data-modal-close-explore>
      <svg class="explore-close-icon" width="24" height="24">
        <use href="./img/choco-icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <h2 class="explore-modal-title section-title">
      Explore our<br />
      <span class="title-accent">new chocolate</span> first!
    </h2>
    <form class="explore-modal-form" name="explore-modal-form">
      <label class="explore-label">
        <input
          class="explore-input"
          name="user_email"
          type="email"
          placeholder="Enter your email"
          required=""
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          minlength="2"
          title="mail@mail.com"
        />
      </label>

      <button class="explore-modal-button modal-btn" type="submit">
        <span class="explore-primary-span">Submit</span>
        <span class="explore-secondary-span">Subscribe</span>
      </button>
    </form>
  </div>
</div>
