<!-- modal subscribe -->


<section class="subscribe-modal-section section">
    <div class="container subscribe-modal-container">
        <div class="subscribe-modal-part">
            <img class="subscribe-modal-image" src="../img/subscribe/chocolate-mobile@1x.jpg" alt="banana" width="311"
                height="169" />
            <h2 class="subscribe-modal-title">Explore our <br>
                <span class="modal-span-chocolate">new chocolate</span> first!
            </h2>
            <div class="subscribe-modal-form">
                <form>
                    <input type="email" placeholder="Enter your email" class="subscribe-modal-input">
                </form>
                <button class="subscribe-modal-btn subscribe-btn" type="button">Submit</button>
            </div>
        </div>

    </div>
</section>