<footer>
    <div class="footer-con container">
        <div class="footer-up-part">
            <div class="footer-call">Chocolate <span class="footer-call-rest">a delicious cure for a bad day</span>
            </div>
            <div class="footer-contact-blok">
                <div class="footer-contact">
                    <div class="footer-contact-text">Contact us</div>
                    <ul class="footer-contact-list">
                        <li class="list link"><a href="tel:+380 (68) 443-94-26"
                                class="list link footer-contact-item">+380 (68) 443-94-26</a></li>
                        <li class="list link"><a href="mailto:simplychoc@gmail.com"
                                class="list link footer-contact-item">simplychoc@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer-soc">
                    <a class="footer-soc-icon link" target="_blank" href="https://www.instagram.com/"><svg class="soc-icon">
                            <use href="../img/choco-icons.svg#icon-instagram"></use>
                        </svg></a>
                    <a class="footer-soc-icon link" target="_blank" href="https://twitter.com/"><svg class="soc-icon">
                            <use href="../img/choco-icons.svg#icon-twitter"></use>
                        </svg></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-down-part list">
            <div class="footer-menu-list">
                <a href="https://oleg-kaniuk.github.io/vite-team-project/" class="footer-link-menu link">Home</a>
                <a href="" class="footer-link-menu link">How it's made?</a>
                <a href="" class="footer-link-menu link">Our products</a>
                <a href="" class="footer-link-menu link">Top sellers</a>
                <a href="" class="footer-link-menu link">Chocolate is loved</a>
            </div>
        </div>
    </div>
</footer>