<div class="footer-section">
    <div class="footer-con container" id="footer-choc">
        <div class="footer-up-part">
            <div class="footer-call">Chocolate <span class="footer-call-rest">a delicious cure for a bad day</span>
            </div>
            <div class="footer-contact-blok">
                <div class="footer-contact">
                    <div class="footer-contact-text">Contact us</div>
                    <div class="footer-contact-menu"><ul class="footer-contact-list">
                        <li class="list link"><a href="tel:+380 (68) 443-94-26"
                                class="list link footer-contact-item">+380 (68) 443-94-26</a></li>
                        <li class="list link"><a href="mailto:simplychoc@gmail.com"
                                class="list link footer-contact-item">simplychoc@gmail.com</a></li>
                    </ul></div>
                </div>
                <div class="footer-soc">
                    <a class="footer-soc-icon link" target="_blank" href="https://www.instagram.com/" rel="noopener" rel="noreferrer"><svg class="soc-icon">
                            <use href="../img/choco-icons.svg#icon-instagram"></use>
                        </svg></a>
                    <a class="footer-soc-icon link" target="_blank" href="https://twitter.com/"><svg class="soc-icon">
                            <use href="../img/choco-icons.svg#icon-twitter"></use>
                        </svg></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-down-part list">
            <ul class="footer-menu-list menu">
                <li class="list"><a href="#header" class="footer-link-menu link">Home</a></li>
                <li class="list"><a href="#made" class="footer-link-menu link">How it's made?</a></li>
                <li class="list"><a href="#products" class="footer-link-menu link">Our products</a></li>
                <li class="list"><a href="#sellers-section" class="footer-link-menu link">Top sellers</a></li>
                <li class="list"><a href="#reviews" class="footer-link-menu link">Chocolate is loved</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- <script type="module" src="../js/gotop.js"></script> -->