<div class="header-section">
  <div class="header-div container">
    <nav class="header-nav">
      <a class="logo header-link link" href="./index.html"><span class="span-simply">SIMPLY</span> CHOCOLATE
        <svg class="header-logo">
          <use href="/img/choco-icons.svg#icon-chocolate"></use>
        </svg>
      </a>
      <ul class="header-list menu list">
        <li class="header-nav-li">
          <a class="header-nav-link menu-link link" href="#header">Home</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link menu-link link" href="#made">How it’s made?</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link menu-link link" href="#products">Our products</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link menu-link link" href="#sellers-section">Top sellers</a>
        </li>
        <li class="header-nav-li">
          <a class="header-nav-link menu-link link" href="#reviews">Chocolate is loved</a>
        </li>
      </ul>
      <!-- icon desktop -->
      <div>
        <ul class="header-list-messeng list">
          <li>
            <a class="header-icon-link" target="_blank" href="https://instagram.com" rel="noopener noreferrer">
              <svg class="header-icon-messeng">
                <use href="/img/choco-icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="header-icon-link" target="_blank" href="https://twitter.com" rel="noopener noreferrer">
              <svg class="header-icon-messeng">
                <use href="/img/choco-icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- mobile burg-menu -->
    <button data-modal-open type="button" class="button-open-mobile" aria-expanded="false" aria-controls="mobile-menu"
      aria-label="navigation menu">
      <svg class="header-burger-menu">
        <use href="/img/choco-icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</div>