<div>
    <button type="button">
        <svg class="" width="28" height="28">
            <use href=""></use>
        </svg>
    </button>
    <form>

        <h2>LEAVE A REVIEW ABOUT OUR CHOCOLATE</h2>
        <input name="user_name" type="text" placeholder="Name">
        <input name="user_e-mail" type="email" placeholder="Email">
        <div><input name="user_phone_number" type="number" placeholder="Phone number">
            <svg class="" width="32" height="32">
                <use href=""></use>
            </svg>
            <span>+380</span>
        </div>
        <textarea name="text_input" placeholder="Enter text"></textarea>
    </form>
    <button type="submit">Send</button>
</div>