<section>
    <div class="container">
        <ul class="top-list list">
            <li class="top-item">
                <img src="../img/top_sellers/choco-one-mobile@1x.jpg" alt="" width="335" height="464">
                <p class="top-paragraph">Crazy enough chocolate originates from a bean just like the coffee bean called
                    Cacao. Cacao has
                    been around for
                    thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
                </p>
            </li>
            <li class="top-item">
                <img src="../img/top_sellers/choco-two-mobile@1x.jpg" alt="" width="335" height="464">
                <button type="submit" class="top-button">Buy now</button>
            </li>
        </ul>
    </div>
</section>