<section class="subscribe-section section">
    <div class="subscribe-container container">
        <h2 class="section-title subscribe-title">EXPLORE OUR NEW <br> CHOCOLATE FIRST</h2>
        <p class="section-text subscribe-subtitle">
            From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will
            leave
            you
            craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a
            work
            of art
            that is sure to please.
        </p>
        <button type="button" class="subscribe-btn section-btn">Subscribe</button>
    </div>
</section>