.advantages-section {
  background-color: var(--secondary-bg-color);
  max-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media only screen and (min-width: 768px) {
  .advantages-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
.advantages-card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 28px;
  column-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .advantages-card-set {
    row-gap: 32px;
    column-gap: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .advantages-card-set {
    gap: 88px;
    flex-wrap: nowrap;
  }
}

.advantages-item {
  max-width: 308px;
  position: relative;
}
@media only screen and (min-width: 375px) {
  .advantages-item {
    width: 308px;
  }
}

.advantages-icons-container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}
.advantages-subtitle {
  color: var(--main-light-text-color);
  margin-bottom: 18px;
}
.advantages-text.section-text {
  letter-spacing: -0.02em;
  line-height: 1.21;
  color: var(--additional-text-color);
  margin-bottom: 20px;
}
.after::after {
  content: '';
  width: 124px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  transform: rotate(-90deg) translateX(125px) translateY(256px);
}
@media only screen and (max-width: 1199px) {
  .after::after {
    display: none;
  }
}
.advantages-after::after {
  transform: rotate(-90deg) translateX(143px) translateY(256px);
}
@media only screen and (max-width: 1199px) {
  .advantages-after::after {
    display: none;
  }
}
