.buy-now-modal {
  width: 609px;
  height: 95vh;

  overflow-y: auto;

  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--accent-text-color);
  border-radius: 15px;

  background-color: var(--primary-bg-color);
}

.buy-now-btn-close {
  position: absolute;
  top: 15px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;

  color: var(--main-dark-text-color);
  background-color: transparent;
  border: none;

  transition: transform var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}

.buy-now-btn-close:hover,
.buy-now-btn-close:focus {
  transform: scale(1.3);
  color: var(--accent-text-color);
}

.buy-now-icon-close {
  display: block;
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
.buy-now-modal .title {
  margin-bottom: 32px;
}

.buy-now-list {
  display: flex;
  justify-content: center;

  margin-bottom: 14px;
  gap: 16px;
}

.buy-now-thumb {
  text-align: center;
  padding: 32px 32px 28px;

  background-color: var(--main-light-text-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.buy-now-wrapper {
  margin-bottom: 16px;
}

.buy-now-btn {
  padding: 8px 27px;
  background: var(--primary-bg-color);
  border: 1px solid rgba(17, 17, 17, 0.1);

  transition: background var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  color: var(--main-light-text-color);
  border: 1px solid transparent;
  background-color: var(--accent-text-color);
}

.buy-now-pagination {
  width: 13px;
  height: 13px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

/* ========== FORM ========== */
.buy-now-label {
  display: block;
  margin-bottom: 18px;
}

.buy-now-label-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  color: var(--main-dark-text-color);
}

.buy-now-label-input {
  height: 45px;
  width: 100%;

  padding: 14px 18px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-dark-text-color);
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;
  transition: border var(--transition-dur-and-func);
}

.buy-now-input-wrapper .buy-now-label-input:not(:last-child) {
  margin-bottom: 14px;
}

.buy-now-input-wrapper {
  display: flex;
  gap: 14px;
}

.buy-now-label-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  color: rgba(64, 64, 64, 0.3);
}

.buy-now-label-input:focus {
  outline: none;
  border: 1.5px solid var(--accent-text-color);
}

.buy-now-phone-wrapper {
  position: relative;
}

.buy-now-label-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;

  color: var(--main-dark-text-color);
}

.buy-now-label-phone::after {
  content: ' ';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;

  display: block;
  width: 1.5px;
  height: 25px;
  background-color: rgba(17, 17, 17, 0.05);
  border-radius: 2px;
}

.buy-now-icon-flag {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);

  width: 24px;
  height: 18px;
}

.buy-now-phone-wrapper .buy-now-label-input {
  padding: 10px 29px 10px 106px;
}

.buy-now-card-wrapper {
  position: relative;
}

.buy-now-icon-card {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  width: 22px;
  height: 13px;
}

.buy-now-message {
  height: 91px;
  width: 100%;
}
