.buy-now-conteiner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2e2f42cc;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.buy-now-conteiner.active {
  display: block;
}
.buy-now-modal {
  width: 311px;
  height: 95vh;
  top: 2%;
  position: relative;
  overflow-y: auto;
  padding: 32px 24px;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
}
.buy-now-modal::-webkit-scrollbar {
  width: 0px;
}
.buy-now-btn-close {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;

  color: var(--main-dark-text-color);
  background-color: transparent;
  border: none;

  transition: transform var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}

.buy-now-btn-close:hover,
.buy-now-btn-close:focus {
  transform: scale(1.3);
  color: var(--accent-text-color);
}

.buy-now-icon-close {
  display: block;
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
.buy-now-title {
  margin-bottom: 32px;
  text-align: center;
}
.buy-now-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  row-gap: 8px;
  column-gap: 0px;
}

.buy-now-thumb {
  text-align: center;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: var(--main-light-text-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
.buy-now-wrapper {
  width: 84px;
  max-height: 69px;
}
.buy-now-btn {
  width: 70px;
  height: 29px;
  margin-left: auto;
  white-space: nowrap;
  padding: 6px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 20px;
  transition: background var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  color: var(--main-light-text-color);
  border: 1px solid transparent;
  background-color: var(--accent-text-color);
}

.buy-now-pagination {
  width: 13px;
  height: 13px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

/* ========== FORM ========== */
.buy-now-label {
  display: block;
}

.buy-now-label-title {
  margin-bottom: 8px;
  display: block;
  letter-spacing: -0.02em;
}

.buy-now-label-input {
  height: 45px;
  width: 100%;

  padding-top: 14px;
  padding-left: 18px;
  padding-bottom: 14px;
  padding-right: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--main-dark-text-color);
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;
  transition: border var(--transition-dur-and-func);
}

.buy-now-input-wrapper {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
.buy-now-indent {
  margin-bottom: 18px;
}
.buy-now-label-input::placeholder {
  font-weight: 400;
  color: rgba(64, 64, 64, 0.3);
}

.buy-now-label-input:focus {
  outline: none;
  border: 1.5px solid var(--accent-text-color);
}

.buy-now-phone-wrapper {
  position: relative;
}

.buy-now-icon-flag {
  position: absolute;
  width: 74px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  display: flex;
  column-gap: 8px;
  box-shadow: 1.5px 0px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  border-bottom: none;
  outline: none;
  align-items: center;
}
.buy-now-img-flag {
  width: 24px;
  height: 24px;
}
.buy-now-label-phone {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--forms-text-color);
}

.buy-now-phone-wrapper .buy-now-label-input {
  padding: 10px 29px 10px 106px;
}

.buy-now-card-wrapper {
  position: relative;
}

.buy-now-icon-card {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 32px;
  height: 21px;
}

.buy-now-message {
  display: block;
  resize: none;
  width: 100%;
  height: 91px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  color: var(--default-icons-color);
  background-color: inherit;
}

.buy-now-message:focus {
  outline: none;
  border: 1.5px solid var(--accent-text-color);
}

.buy-now-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

.buy-now-btn-submit {
  padding: 12px 28px;
  width: 109px;
  border-radius: 100px;
  border: none;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.buy-now-btn-submit:hover,
.buy-now-btn-submit:focus {
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.buy-now-conteiner {
  display: none;
}

@media only screen and (min-width: 768px) {
  .buy-now-modal {
    width: 609px;
  }
  .buy-now-modal {
    padding: 48px;
  }
  .buy-now-btn-close {
    top: 24px;
    right: 24px;
  }
  .buy-now-icon-close {
    width: 28px;
    height: 28px;
  }
  .buy-now-title {
    font-size: 24px;
    line-height: 1.16;
  }
  .buy-now-list {
    flex-direction: row;
    column-gap: 16px;
    row-gap: 0px;
  }
  .buy-now-thumb {
    flex-direction: column;
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px;
  }
  .buy-now-wrapper {
    width: 120px;
    height: 107px;
    margin-bottom: auto;
  }
  .buy-now-btn {
    margin: 0;
    width: 96px;
    height: 33px;
    display: block;
  }
  .buy-now-list {
    margin-bottom: 40px;
  }
  .buy-now-label-title {
    font-size: 14px;
    line-height: 1.29;
  }
  .buy-now-input-wrapper {
    flex-wrap: nowrap;
  }
  .buy-now-label-input {
    padding: 22px 24px;
    height: 66px;
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-icon-flag {
    column-gap: 18px;
    width: 125px;
  }
  .buy-now-img-flag {
    width: 32px;
    height: 32px;
  }
  .buy-now-label-phone {
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-phone-wrapper .buy-now-label-input {
    padding: 22px 24px 22px 177px;
  }
  .buy-now-icon-card {
    width: 44px;
    height: 30px;
    right: 24px;
  }
  .buy-now-message {
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-message::placeholder {
    font-size: 18px;
    line-height: 1.22;
  }
  .buy-now-btn-submit {
    width: 133px;
    padding: 14px 40px;
  }
}
