.buy-now-modal {
  width: 609px;
  height: 95vh;
  position: relative;
  overflow-y: auto;
  padding: 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: var(--primary-bg-color);
}

.buy-now-btn-close {
  position: absolute;
  top: 15px;
  right: 14px;
  padding: 0;
  display: flex;
  align-items: center;

  color: var(--main-dark-text-color);
  background-color: transparent;
  border: none;

  transition: transform var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}

.buy-now-btn-close:hover,
.buy-now-btn-close:focus {
  transform: scale(1.3);
  color: var(--accent-text-color);
}

.buy-now-icon-close {
  display: block;
  width: 24px;
  height: 24px;
  stroke: currentColor;
}
.buy-now-title {
  margin-bottom: 32px;
  text-align: center;
}
.buy-now-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 16px;
}

.buy-now-thumb {
  text-align: center;
  padding: 32px 32px 18px;

  background-color: var(--main-light-text-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.buy-now-wrapper {
  margin-bottom: 16px;
}

.buy-now-btn {
  width: 96px;
  white-space: nowrap;
  font-weight: 600;
  padding: 8px 27px;
  background: var(--primary-bg-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 20px;
  transition: background var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  color: var(--main-light-text-color);
  border: 1px solid transparent;
  background-color: var(--accent-text-color);
}

.buy-now-pagination {
  width: 13px;
  height: 13px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

/* ========== FORM ========== */
.buy-now-label {
  display: block;
  margin-bottom: 18px;
}

.buy-now-label-title {
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-dark-text-color);
}

.buy-now-label-input {
  height: 66px;
  width: 100%;

  padding-top: 22px;
  padding-left: 24px;
  padding-bottom: 22px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-dark-text-color);
  background-color: transparent;
  border: 1.5px solid rgba(17, 17, 17, 0.05);

  border-radius: 8px;
  transition: border var(--transition-dur-and-func);
}

.buy-now-input-wrapper {
  display: flex;
  gap: 14px;
}

.buy-now-label-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  color: rgba(64, 64, 64, 0.3);
}

.buy-now-label-input:focus {
  outline: none;
  border: 1.5px solid var(--accent-text-color);
}

.buy-now-phone-wrapper {
  position: relative;
}

.buy-now-icon-flag {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  padding-right: 4px;
  margin-left: 24px;
  margin-right: 18px;
  max-width: 32px;
  max-height: 32px;
}
.buy-now-label-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border-right: 2px solid #4040404d;
  margin-left: 18px;
  color: var(--main-dark-text-color);
}

.buy-now-phone-wrapper .buy-now-label-input {
  padding: 10px 29px 10px 106px;
}

.buy-now-card-wrapper {
  position: relative;
}

.buy-now-icon-card {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 44px;
  height: 30px;
  margin-right: 24px;
}

.buy-now-message {
  display: block;
  resize: none;
  width: 100%;
  height: 137px;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: -0.02em;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding-top: 22px;
  padding-left: 24px;
  color: var(--default-icons-color);
  background-color: inherit;
}

.buy-now-message:focus {
  outline: none;
  border: 1.5px solid var(--accent-text-color);
}

.buy-now-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  color: rgba(64, 64, 64, 0.3);
}

.buy-now-btn-submit {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  color: var(--additional-bg-color);
  padding: 12px 28px;
  width: 109px;
  max-width: 100%;
  background: var(--primary-accent-color);
  border-radius: 100px;
  border: none;
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
.buy-now-btn-submit:hover,
.buy-now-btn-submit:focus {
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}
