/* modal subscribe */

.subscribe-modal-image {
    margin-bottom: 24px;
}

.subscribe-modal-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 24px;
}

.modal-span-chocolate {
    color: #FD9222;
}

.subscribe-modal-form {
    display: flex;
}

.subscribe-modal-input {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 25px;
    height: 45px;
    padding: 14px 18px;
    position: relative;
}

@media only screen and (min-width: 768px) {
    .subscribe-modal-input {
        width: 313px;
    }
}

.subscribe-modal-btn {
    position: absolute;
    left: 49%;
    height: 45px;
    background-color: #FD9222;
    color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
    .subscribe-modal-btn {
        position: relative;
        left: 0;
        margin: 0 0 0 8px;
    }
}