.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--main-light-text-color);
  margin-left: auto;
  margin-right: auto;
}
.header-div {
  display: flex;
  padding-top: 20px;
  padding-bottom: 14px;
}

/* logo and icon */
.header-logo {
  width: 21px;
  max-height: 21px;
}

.header-icon-messeng {
  fill: transparent;
  stroke: var(--main-dark-text-color);
  /* width: 24px;
  max-height: 24px; */
}

.header-icon-link {
  stroke: var(--main-dark-text-color);
  transition: stroke var(--transition-dur-and-func);
}

.header-icon-link:hover,
.header-icon-link:focus {
  stroke: var(--accent-text-color);
}

.header-burger-menu {
  width: 21px;
  height: 14px;
  stroke: var(--main-dark-text-color);
}

.button-open-mobile {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  width: 28px;
  max-height: 28px;
}

/* desktop list heder */
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  height: 28px;
  width: 1136px;
}
/* link */
.header-link {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.span-simply {
  font-style: italic;
}

.header-nav-link {
  color: var(--main-dark-text-color);
  letter-spacing: -0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-text-color);
  transition: var(--transition-dur-and-func);
}
.header-icon-link {
  display: block;
  max-height: 24px;
}
/* list */
.header-list {
  display: none;
  column-gap: 24px;
  margin-right: auto;
}

.header-list-messeng {
  display: none;
  column-gap: 18px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .header-nav {
    height: 32px;
  }
  .header-div {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .button-open-mobile {
    width: 32px;
    height: 32px;
  }
  .header-burger-menu {
    width: 24px;
    height: 16px;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  .header-div {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .header-logo {
    width: 24px;
    max-height: 24px;
  }
  .button-open-mobile {
    display: none;
  }
  .header-link {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
  }
  .header-link {
    margin-right: 190px;
  }
  .header-list {
    display: flex;
  }
  .header-list-messeng {
    display: flex;
  }
}
