@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .made-container {
    padding-left: 77px;
    padding-right: 77px;
  }
}

.made-title {
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .made-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 1200px) {
  .made-flex {
    display: flex;
    gap: 20px;
    width: 100%;
  }
}

.made-blok-video {
  max-width: 335px;
  max-height: 500px;
}

@media only screen and (min-width: 768px) {
  .made-blok-video {
    max-width: 614px;
    max-height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .made-blok-video {
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
  }
}

.made-blok {
  padding: 20px 14px;
  background-color: var(--additional-bg-color);
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .made-blok {
    padding: 32px 102px 32px 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .made-blok {
    padding: 32px;
    width: 516px;
  }
}

.made-subtitle {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .made-subtitle {
    width: 350px;
    margin-bottom: 28px;
    letter-spacing: 0;
  }
}

.made-text {
  letter-spacing: -0.02em;
  position: relative;
  padding-left: 16px;
}

.made-text > li:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 1200px) {
  .made-text > li:not(:last-child) {
    margin-bottom: 24px;
  }
}
.made-list-item {
  position: relative;
}

.made-list-item::before {
  content: '';
  display: block;
  position: absolute;

  top: 5px;
  left: -16px;

  width: 8px;
  height: 8px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}

.features-video {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.plyr {
  /*
  Задаємо основний колір для елементів керування
  вбудованого програвача Plyr
  */
  --plyr-color-main: #fd9222;
  /*  Скруглені кути рамки для відео  */
  border-radius: 15px;
}

.plyr__poster {
  /*  Регулюємо розмір постера  */
  background-size: cover;
}

.plyr__control--overlaid {
  /*  Встановлюємо стилі для кнопки play  */
  --plyr-control-spacing: 5px;
  --plyr-video-control-background-hover: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}

/* Приховуємо кнопу play після активації програвання відео */
.plyr--paused.plyr__control--overlaid {
  opacity: 0;
}
/* Приховуємо панель з елементами управління перед активацією програвання відео */
.plyr--paused.plyr--stopped .plyr__controls {
  opacity: 0;
}

/*  */
/*  */
/*  */
/* .video-file {
  width: 600px;
} */
/* .made-blok-video {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 15px;
  overflow: hidden;

  background-image: url(../img/how_it’s_made/cover-mobile@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .made-blok-video {
    background-image: url(../img/how_it’s_made/cover-mobile@2x.jpg);
  }
}
@media only screen and (min-width: 375px) {
  .made-blok-video {
    background-image: url(../img/how_it’s_made/cover-tablet@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .made-blok-video {
    background-image: url(../img/how_it’s_made/cover-tablet@2x.jpg);
  }
}

@media only screen and (min-width: 769px) {
  .made-blok-video {
    background-image: url(../img/how_it’s_made/cover@1x.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .made-blok-video {
    background-image: url(../img/how_it’s_made/cover@2x.jpg);
  }
} */

/* .made-blok-video {
  position: relative;
} */

/* .control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  width: 44px;
  height: 44px;
}

.control:active,
.control:focus {
  display: none;
} */

/* .plyr__control {
  background: #0000;
  border: 0;
  border-radius: 4px;
  border-radius: var(--plyr-control-radius, 4px);
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  padding: calc(var(--plyr-control-spacing, 10px) * 0.7);
  position: relative;
  transition: all 0.3s ease;
}

.plyr__control svg {
  fill: currentColor;
  display: block;
  height: 18px;
  height: var(--plyr-control-icon-size, 18px);
  pointer-events: none;
  width: 18px;
  width: var(--plyr-control-icon-size, 18px);
}

.plyr__control:focus {
  outline: 0;
}

.plyr__control:focus-visible {
  outline: 2px dashed #00b2ff;
  outline: 2px dashed
    var(
      --plyr-focus-visible-color,
      var(--plyr-color-main, var(--plyr-color-main, #00b2ff))
    );
  outline-offset: 2px;
}

a.plyr__control {
  text-decoration: none;
} */
