@media only screen and (min-width: 768px) {
   .top-section {
    padding-bottom: 100px;
  }

@media only screen and (min-width: 1200px) {
   .top-section {
    padding-bottom: 128px;
  }
}

}
.top-container {
    position: relative;
}

.top-sellers-title {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1,2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--accent-text-color);
}

@media only screen and (min-width: 768px) {
   .top-sellers-title {
    margin-bottom: 50px;
  }
}

.sellers-span {
    color: var(--main-dark-text-color);
}

@media only screen and (min-width: 768px) {
    .top-sellers-title {
        font-size: 24px;
        line-height: 1.16;
    }
}

@media only screen and (min-width: 1200px) {
    .top-sellers-title {
        margin-bottom: 50px;
    }
}

.top-list {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .top-list {
        flex-direction: row;
        gap: 0 16px;
    }
}

@media only screen and (max-width: 1199.9px) {
    .top-card {
        display: none;
    }
}

.top-icon {
    border-radius: 6px;
}

.top-paragraph {
    margin-top: 20px;
    margin-bottom: 32px;
    max-width: 306px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--main-dark-text-color);
}

@media only screen and (min-width: 768px) {
    .top-paragraph {
    margin-top: 32px;
    margin-bottom: 0;
    }
}

.top-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
        height: 41px;
    padding: 12px 28px;
    background: var(--reserve-bg-color);
    border-radius: 100px;
    color: var(--main-light-text-color);
    border: none;
    transition: var(--transition-dur-and-func);
}

@media only screen and (min-width: 768px) {
    .top-button {
        position: absolute;
        min-width: 162px;
        height: 50px;
        right: 4.1%;
        top: 87%;
        padding: 14px 40px;
        font-size: 18px;
        line-height: 1.22px;
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .top-button {
        right: 2.7%;
    }
}

.top-button:hover,
.top-button:focus {
    background: var(--secondary-accent-color);
    color: var(--accent-text-color);
}
